<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPICustomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RPICustomizer.Properties.Settings>
            <setting name="MaxDegreeOfParallelism" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DefaultPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="PortScanTimeout" serializeAs="String">
                <value>100</value>
            </setting>
        </RPICustomizer.Properties.Settings>
    </userSettings>
</configuration>